<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de audio a MIDI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Conversor de audio a MIDI <span> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id="logo"></span></h1>
    
    <div class="container">
        <form action="/predict" method="post" enctype="multipart/form-data">
            <div id="drop_zone">
                <p>Arrastra un archivo de audio aquí</p>
            </div>              
            <div class="flex-container">
                <label id= "file-label"class="button" for="audio_file">Seleccione un archivo de audio</label>
                <span id="file-name" class="file-name">Ningún archivo seleccionado</span>
            </div>
            <input id="audio_file" type="file"  name="file" onchange="updateFileName(this)">
            <input class="button" type="submit" value="Convertir" id="">
        </form>
    </div>
    {% if wav_url %}
    <div class="container">
        <h2>Reproducir Archivo MIDI resultante (sintetizado con Timidity):</h2>
        <audio controls>
            <source src="{{ wav_url }}" type="audio/wav">
            Tu navegador no soporta la reproducción de archivos WAV.
        </audio>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>
</body>
</html>
